@each $temas,$colorT,$colorF,$bshdow,$shdow,$text in 

(normal, black ,white ,1px ,suave,false),
(aviso,black , orange,2px ,fuerte,false),
(correcto, #660066, lightgreen,3px ,normal,true){
         .#{$temas}{
             margin: 10px;
             padding: 10px;
             color:#{$colorT};
             background-color: #{$colorF};
             border:#{$bshdow} solid #{$colorT};
             box-shadow: $shdow;  
         
             @if $shdow ==suave {
                 box-shadow: 1px 1px 3px #{$colorT};   
             }@else if $shdow ==normal{
                 box-shadow: 6px 6px 12px #{$colorT};
             }@else if $shdow ==fuerte{
                 box-shadow: 6px 6px 12px #{$colorT};
                                                     
             }                                 
         
             @if $text==true{
                 text-align: center;
             }
                    }
     
                                        
}



