
//colores articulos
$bgcolor-articulos:lightblue;
$color-articuloshover: yellow;
$mar:5px;
$pad:5px;

//section
$bgcolor-section:blue;
$padi:10px;

$bgcolora:blue;


section{
    background-color: $bgcolor-section;
    padding: $padi;

    article{
        background-color: lighten($bgcolor-articulos, 30%);
        margin: $mar;
        padding: $pad;
        
        &:hover{
            background-color: complement($color-articuloshover);
        }
    }
   
}
